.reverse-message-item {
  display: flex;
  flex-direction: row-reverse;
}

.message-text {
  padding: 0.6rem;
}

.message-text p{
  display: inline;
  margin: 0;
  padding: 0;
}

pre.hljs {
  /* background-color: antiquewhite */
}