html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.reverse-message-item {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1020px) {
  #nav {
    display: none;
  }
}

@media (min-width: 1020px) {
  #main {
    padding-left: 300px;
  }
}
