html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app {
  overflow: hidden;
  height: 100vh;
}

#nav {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 300px;
  --un-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--un-bg-opacity));
  border-right-style: solid;
  border-width: 1px;
  --un-border-opacity: 1;
  border-color: rgba(190, 217, 192, var(--un-border-opacity));
  z-index: 2;
}

@media (max-width: 1020px) {
  #nav {
    display: none;
  }
}

@media (min-width: 1020px) {
  #main {
    padding-left: 300px;
  }
}
